:root,
:root[color-theme='light'] {
  /* color */
  --background: #f8f9fa;
  --mainColor: #212529;
  --shadowColor: #ced4da;
  --borderColor: #adb5bd;

  /* font */
  --icon-size: 22px;
  --font-size: 16px;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-spoqa: 'Spoqa Han Sans Neo', 'sans-serif';
}

:root[color-theme='dark'] {
  --background: #212529;
  --mainColor: #f8f9fa;
  --shadowColor: #868e96;
  --borderColor: #ced4da;
}

/* body */
body {
  font-family: var(--font-poppins);
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  transition: 0.4s cubic-bezier(0.76, 0.03, 0.32, 1.04);
}

/* container */
.container {
  padding: 40px 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  position: relative;
  transition: 0.4s cubic-bezier(0.76, 0.03, 0.32, 1.04);
}

/* header */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.reset {
  border: none;
  background-color: transparent;
  font-size: var(--icon-size);
  cursor: pointer;
  padding: 0 10px;
  padding-left: 20px;
  color: var(--mainColor);
  box-sizing: border-box;
}

.meatballs {
  color: var(--mainColor);
  font-size: var(--icon-size);
  padding: 0 10px;
  padding-top: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

/* navigation bar */
.nav {
  position: absolute;
  top: 50px;
  right: 0;
}

.nav > .nav-bar-block {
  display: block;
}

.nav-bar {
  display: none;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid var(--borderColor);
  box-shadow: 0px 0px 4px 0px var(--shadowColor);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-spoqa);
}

.nav-bar > button {
  margin-top: 1px;
  padding: 4px 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--mainColor);
}

.minBtn:disabled {
  color: var(--shadowColor);
}

/* section */
.section {
  font-weight: 600;
  font-family: var(--font-roboto);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section > .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vh;
  font-size: 12vw;
  color: var(--mainColor);
}

/* button */
.btn {
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn > button {
  border: 1px solid var(--borderColor);
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
  font-size: var(--font-size);
  font-family: var(--font-poppins);
  font-weight: 500;
  color: var(--mainColor);
  width: 80px;
  height: 36px;
  cursor: pointer;
}

.start:hover,
.pause:hover {
  box-shadow: 0px 0px 3px 1px var(--shadowColor);
}

.btn > .pause {
  visibility: hidden;
  box-sizing: border-box;
  padding-bottom: 2px;
  padding-left: 1px;
  position: absolute;
}

/* light mode */
.switch-button {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 29px;
  /* border: 2px solid darkkhaki; */
}

.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #f2d522;
  box-shadow: inset 1px 4px 1px #e3ae56;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.onoff-switch:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  padding-left: 4px;
  padding-bottom: 1px;
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
}

.switch-button input:checked + .onoff-switch {
  background-color: #ccc;
  box-shadow: inset 1px 5px 1px #999;
}

.switch-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  padding-left: 4px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 20px;
  }
  .section > .countdown {
    font-size: 22vh;
    font-size: 22vw;
  }

  .reset {
    font-size: 20px;
    padding: 0 7px;
    padding-left: 16px;
  }

  .meatballs {
    font-size: 20px;
    padding-left: 7px;
    padding-top: 2px;
  }

  .switch-button {
    width: 50px;
    height: 27px;
  }

  .onoff-switch:before {
    padding-left: 1px;
    padding-bottom: 1px;
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
  }

  .switch-button input:checked + .onoff-switch:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }
}

@media (min-width: 769px) and (max-width: 1230px) {
  .section > .countdown {
    font-size: 16vh;
    font-size: 16vw;
  }
}
