:root,
:root[color-theme='light'] {
  /* color */
  --background: #f1f3f5;
  --mainColor: #343a40;
  --subColor: #a2aab2;
  --shadowColor: #bac0c6;
  --borderColor: #adb5bd;
  --input-shadow: -1px -1px 4px #fff, 2px 2px 4px var(--shadowColor);
  --input-checked-shadow: -1px -1px 4px #fff, 2px 2px 4px var(--shadowColor),
    inset 2px 2px 5px #d0d6dcf5, inset 4px 4px 3px var(--background);

  /* font */
  --icon-size: 22px;
  --font-size: 16px;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-spoqa: 'Spoqa Han Sans Neo', 'sans-serif';
}

:root[color-theme='dark'] {
  --background: #343a40;
  --mainColor: #f8f9fa;
  --subColor: #acb4bc;
  --shadowColor: #868e96;
  --borderColor: #ced4da;
  --input-shadow: -1px -1px 2px #4c5458cc, 2px 2px 4px #212529a8;
  --input-checked-shadow: -1px -1px 2px #4c5458cc, 2px 2px 4px #212529a8,
    inset 2px 2px 4px #212529a8, inset 4px 4px 3px var(--background);
}

/* body */
body {
  font-family: var(--font-poppins);
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  transition: 0.3s cubic-bezier(0.76, 0.03, 0.32, 1.04);
}

/* container */
.container {
  margin: 50px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  position: relative;
  transition: 0.3s cubic-bezier(0.76, 0.03, 0.32, 1.04);
}

/* header */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.reset {
  border: none;
  background-color: transparent;
  font-size: var(--icon-size);
  cursor: pointer;
  padding: 0 10px;
  padding-left: 20px;
  color: var(--mainColor);
  box-sizing: border-box;
}

.meatballs {
  color: var(--mainColor);
  font-size: var(--icon-size);
  padding: 0 10px;
  padding-top: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

/* navigation bar */
.nav {
  position: absolute;
  top: 45px;
  right: 10px;
}

.nav > .nav-bar-block {
  display: block;
}

.nav-bar {
  display: none;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid var(--borderColor);
  box-shadow: 0px 0px 4px 1px var(--shadowColor);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar > button {
  margin-top: 1px;
  padding: 4px 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--mainColor);
  font-family: var(--font-poppins);
}

.minBtn:disabled {
  color: var(--shadowColor);
}

/* section */
.section {
  font-family: var(--font-roboto);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* completed today */
.todayCounting {
  padding-left: 5px;
  font-family: var(--font-poppins);
  color: var(--subColor);
  font-size: 16px;
  font-weight: 500;
}

.numb {
  color: var(--mainColor);
  font-weight: 600;
}

.section > .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18vh;
  font-size: 18vw;
  color: var(--mainColor);
  margin: 20px 0;
}

/* start button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 90px;
  border-radius: 5px;
  font-size: 17px;
  font-family: var(--font-poppins);
  font-weight: 600;
  color: var(--mainColor);
  cursor: pointer;
  -webkit-appearance: none;
  transition: 0.3s cubic-bezier(0.76, 0.03, 0.32, 1.04);
  box-shadow: var(--input-shadow);
  border: 2px solid var(--background);
}

.btn::after {
  content: 'start';
}

.btn:checked {
  box-sizing: border-box;
  box-shadow: var(--input-checked-shadow);
}

.btn:checked::after {
  content: 'pause';
  padding-left: 1px;
  padding-bottom: 1px;
}

/* light mode */
.switch-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.onoff-switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.onoff-switch:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: #ffec99;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
  border: 2px solid #fcc419;
}

.onoff-switch:after {
  display: flex;
  padding-right: 6px;
  padding-bottom: 1px;
  flex-direction: row-reverse;
  font-family: 'Material Icons outlined';
  content: '\e518';
  color: #fab005;
  font-size: 16px;
}

.switch-button input:checked + .onoff-switch:after {
  -webkit-transform: translateX(-27px);
  -ms-transform: translateX(-27px);
  transform: translateX(-27px);
  content: '\f03d';
  font-size: 17px;
  color: #b5beca;
}

.switch-button input:checked + .onoff-switch {
  background-color: #495057;
  box-shadow: inset 3px 4px 2px #495057;
}

.switch-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background-color: #646d7a;
  border: 2px solid #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 60px 20px;
  }

  .section > .countdown {
    font-size: 22vh;
    font-size: 22vw;
  }

  .todayCounting {
    font-size: 13px;
  }

  .switch-button input:checked + .onoff-switch:after {
    -webkit-transform: translateX(-28px);
    -ms-transform: translateX(-28px);
    transform: translateX(-28px);
    content: '\f03d';
    font-size: 17px;
    color: #b5beca;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 100px 50px;
  }

  .reset {
    font-size: 20px;
    padding: 0 7px;
    padding-left: 16px;
  }

  .meatballs {
    font-size: 20px;
    padding-left: 7px;
    padding-top: 2px;
  }

  .todayCounting {
    font-size: 20px;
  }
}
